header{
    background-image: linear-gradient(rgba(100, 91, 91, 0.5),rgba(5, 0, 0, 0.5)), url("Img tenis/Estadio tenis.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px;
    min-height: 2%;
    text-align: center;
    color:rgb(254, 253, 253);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
figure{
    border:solid 1px black;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    text-wrap:balance;
}
div.Información{
    text-align: center;
    text-decoration: none;
    text-wrap:balance;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    border: 0%;
    display: block;
    margin-top: auto;
    font-size: 20px;
}
html{
    height: 100%;
    margin: 0%;
}
a.privado{
    text-decoration: none;
    color: white;
}
a.vermas{
    text-decoration: none;
    font-size: 20px;
}
a.vermas:hover{
    color: blue;
}
